body{
  background-color: rgb(38, 38, 38);
  background-image: url(imagen/5924699-panoramico-da-noite-cidade-com-neon-brilho-em-fundo-escuro-vetor.jpg);

}

.logo{
  width: 350px;
  margin-left: 450px;
}


.formu{
  
  margin-top: 0px;
  margin-left: 550px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 16px;
  color: rgb(0, 255, 255);
}

.reservacion{
  margin-left: 585px;
  margin-top: 140px;
  color: rgb(0, 255, 255);
}

.glass{
  background: rgb(0, 255, 255, .2);
  backdrop-filter: blur (1px);
  width: 250px;
  height: 250px;
  box-shadow: .1px .1px 2px 2px;
}

#nombre{
  margin-top: 50px;
  margin-left: 5px;
  backdrop-filter: blur (1px);
  background-color: rgb(0, 255, 255, .2);
  color: rgb(0, 255, 255);
  width: 232px;
}

#hombre{
  margin-top: 35px;
  margin-left: 50px;
  
}

#terminos{
  margin-top: 25px;
  margin-left: 30px;
}

#btn{
  margin-top: 35px;
  margin-left: 5px;
  background-color: rgb(0, 255, 255, .2);
 
  width: 240px;
  color:rgb(0, 255, 255);
}

